<div class="card" id="show-form-card">
  <div class="card-header" style='background-color: #3b3a39; color: whitesmoke;'>
    Question
  </div>
  <div class="card-body">
    <%= form_with(model: question, local: true) do |form| %>
      <% if question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
            <% question.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :quiz_id %>
        <%= form.collection_select :quiz_id, Quiz.order(:title), :id, :title, include_blank: true, input_html: { id: "drop" } %>
      </div>

      <div class="form-group">
        <%= form.label :question %>
        <%= form.text_field :question, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :order_number %>
        <%= form.number_field :order_number, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label "Youtube Video ID" %>
        <%= form.text_field :video_url, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image %>
      </div>

      <div class="actions">
        <%= form.button :submit, class: "btn btn-outline-success pull-right"%>
      </div>
    <% end %>
  </div>
</div>
