<p id="notice"><%= notice %></p>

<p>
  <strong>Quiz:</strong>
  <%= @question.quiz_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Order number:</strong>
  <%= @question.order_number %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @question.video_url %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
