<div class="col-lg-10" id="middle">
    <div class="row" id="button-row">
        <div class="col-md-6">
            <%= link_to course_path(@course) do %><< <%= @course.title %><% end %>
        </div>
        <div class="col-md-6">
            <div class="float-right">
                <% if @next_checkpoint.present? %>
                    <%= link_to "Next Checkpoint >>", checkpoint_path(@next_checkpoint) %>
                <% else %>
                    Last Checkpoint of section
                <% end %>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h1 class="display-4"><%= checkpoint.title %></h1>
        <p class="lead"><%= checkpoint.section.name %></p>
        <hr class="my-4">
        <p><%= checkpoint.description %></p>
    </div>
    <div class="card" id="show-card">
        <div class="card-body">
            <%= checkpoint.content %>
        </div>
    </div>
</div>