<div class="col-lg-10" id="middle">
    <div class="row" id="button-row">
        <div class="col-md-6">
            <%= link_to course_path(@course) do %><< <%= @course.title %><% end %>
        </div>
        <div class="col-md-6">
            <div class="float-right">
                <%= link_to "Next Checkpoint >>", next_checkpoint_path(checkpoint: @checkpoint) %>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h1 class="display-4"><%= checkpoint.title %></h1>
        <p class="lead"><%= checkpoint.section.name %></p>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <p><%= checkpoint.description %></p>
            </div>
            <div class="col">
                <% if current_user.admin? %>
                    <%= link_to "Edit", edit_checkpoint_path(checkpoint), class: "btn btn-primary pull-right" %>
                <% end %>
                <%= tag.div id: "completeButton", data: { cu: current_user.to_json, c: @checkpoint.to_json } %>
            </div>
        </div>
    </div>
    <div class="card" id="show-card">
        <div class="card-body">
            <%= checkpoint.content %>
        </div>
    </div>
</div>