<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="panel panel-primary filterable">
                        <div class="panel-heading">
                            <h3 class="panel-title">Checkpoints</h3>
                        </div>
                        <table class="table">
                            <thead>
                                <tr class="filters">
                                    <%= search_form_for @q do |f| %>
                                        <th><%= f.search_field :id_cont, class: "form-control", placeholder: "ID" %></th>
                                        <th><%= f.search_field :order_number_eq, class: "form-control", placeholder: "Order Number" %></th>
                                        <th><%= f.search_field :title_cont, class: "form-control", placeholder: "Title" %></th>
                                        <th><%= f.search_field :description_cont, class: "form-control", placeholder: "Description" %></th>
                                        <th><%= f.search_field :section_name_start, class: "form-control", placeholder: "Section" %></th>
                                        <th><%= f.submit class: "btn btn-primary" %></th>
                                    <% end %>
                                </tr>
                            </thead>
                            <tbody>
                                <% @checkpoints.each do |check| %>
                                <tr>
                                    <td><%= check.id %></td>
                                    <td><%= check.order_number %></td>
                                    <td><%= check.title %></td>
                                    <td><small><%= check.description %></small></td>
                                    <td>Course: <%= check.section.course.title %><br> Section: <%= check.section.name %></td>
                                    <td><%= link_to 'Show', checkpoint_path(check), class: 'btn btn-primary btn-sm' %> <%= link_to 'Edit', edit_checkpoint_path(check), class: 'btn btn-primary btn-sm' %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <%= will_paginate @users %>
    </div>
</div>
