<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @checkpoint.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @checkpoint.content %>
</p>

<p>
  <strong>References:</strong>
  <%= @checkpoint.references %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @checkpoint.video_url %>
</p>

<%= link_to 'Edit', edit_checkpoint_path(@checkpoint) %> |
<%= link_to 'Back', checkpoints_path %>
