<%= form_with(model: checkpoint_content, local: true) do |form| %>
  <% if checkpoint_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checkpoint_content.errors.count, "error") %> prohibited this checkpoint_content from being saved:</h2>

      <ul>
        <% checkpoint_content.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :video_url %>
    <%= form.text_field :video_url %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order %>
  </div>

  <div class="field">
    <%= form.label :checkpoint_id %>
    <%= form.text_field :checkpoint_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
