<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @checkpoint_content.type %>
</p>

<p>
  <strong>Text:</strong>
  <%= @checkpoint_content.text %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @checkpoint_content.video_url %>
</p>

<p>
  <strong>Order:</strong>
  <%= @checkpoint_content.order %>
</p>

<p>
  <strong>Checkpoint:</strong>
  <%= @checkpoint_content.checkpoint_id %>
</p>

<%= link_to 'Edit', edit_checkpoint_content_path(@checkpoint_content) %> |
<%= link_to 'Back', checkpoint_contents_path %>
