<div class="card" id="show-form-card">
  <div class="card-header" style='background-color: #3b3a39; color: whitesmoke;'>
    Preview
  </div>
  <div class="card-body">
    <%= form_with(model: preview, local: true) do |form| %>
      <% if preview.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(checkpoint.errors.count, "error") %> prohibited this checkpoint from being saved:</h2>

          <ul>
            <% preview.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :course_id %><br />
        <%= form.collection_select :course_id, Course.order(:title), :id, :title, include_blank: true, input_html: { id: "drop" } %>
      </div>

      <div class="form-group">
        <%= form.label :blurb, "Blurb: A quick intro to what the course is" %>
        <%= form.text_area :blurb, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :pitch, "Pitch, your chance to sell the course, please don't drop images here" %>
        <%= form.rich_text_area :pitch %>
      </div>

      <div class="form-group">
        <%= form.label :image, "Image: this will be an image that goes next to your pitch for visual flare." %><br>
        <%= form.file_field :image %>
      </div>

      <div class="actions">
        <%= form.button :submit, class: "btn btn-outline-success pull-right"%>
      </div>
    <% end %>
  </div>
</div>
