<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="panel panel-primary filterable">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bug Reports</h3>
                        </div>
                        <table class="table">
                            <thead>
                                <tr class="filters">
                                    <%= search_form_for @q do |f| %>
                                        <th><%= f.search_field :id_eq, class: "form-control", placeholder: "ID" %></th>
                                        <th><%= f.search_field :status_eq, class: "form-control", placeholder: "Status" %></th>
                                        <th><%= f.search_field :priority_eq, class: "form-control", placeholder: "Priority" %></th>
                                        <th><%= f.search_field :subject_cont, class: "form-control", placeholder: "Subject" %></th>
                                        <th><%= f.search_field :path_cont, class: "form-control", placeholder: "Path" %></th>
                                        <th><%= f.submit class: "btn btn-primary float-right" %></th>
                                    <% end %>
                                </tr>
                            </thead>
                            <tbody>
                                <% @bug_reports.each do |br| %>
                                <tr>
                                    <td><%= br.id %></td>
                                    <td><%= br.status %></td>
                                    <td><%= br.priority %></td>
                                    <td><%= br.subject %></td>
                                    <td><%= br.path %></td>
                                    <td><%= link_to 'Show', bug_report_path(br), class: 'btn btn-primary btn-sm' %> <%= link_to 'Edit', edit_bug_report_path(br), class: 'btn btn-primary btn-sm' %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <%= will_paginate @checkpoints %>
    </div>
</div>

<%= link_to 'New Bug Report', new_bug_report_path %>
