<p id="notice"><%= notice %></p>

<h1>Bug Reports</h1>

<table>
  <thead>
    <tr>
      <th>Priority</th>
      <th>Status</th>
      <th>Path</th>
      <th>Body</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bug_reports.each do |bug_report| %>
      <tr>
        <td><%= bug_report.priority %></td>
        <td><%= bug_report.status %></td>
        <td><%= bug_report.path %></td>
        <td><%= bug_report.body %></td>
        <td><%= bug_report.subject %></td>
        <td><%= link_to 'Show', bug_report %></td>
        <td><%= link_to 'Edit', edit_bug_report_path(bug_report) %></td>
        <td><%= link_to 'Destroy', bug_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug Report', new_bug_report_path %>
