<!DOCTYPE html>
<html>
  <head>
    <title>Trestle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div data-behavior="vue">
      <% if user_signed_in? %>
        <topbar></topbar>
      <% end %>
      <div class='app-body'>
      <% if user_signed_in? %>
        <navbar />
      <% end %>
      <main class="main">
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <%= yield %>
          </div>
        </div>
      </main>
      </div>
    </div>
  </body>
</html>
